@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 25%;

    --card: 0 0% 94%;
    --card-foreground: 0 0% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 25%;

    /* Darker Purple #582C83 */
    --primary: 273 50% 34%;
    --primary-foreground: 0 0% 100%;

    /* Dark Green for buttons */
    --secondary: 122 55% 23%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 273 50% 95%;
    --accent-foreground: 273 50% 34%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 273 50% 34%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;

    --card: 240 8% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 8% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 273 50% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 122 55% 28%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 8% 15%;
    --muted-foreground: 240 5% 64%;

    --accent: 273 50% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 8% 20%;
    --input: 240 8% 20%;
    --ring: 273 50% 34%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
